*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body, html {
    height:100%;
}
.container{
    width:100%;
    margin:0 auto;
    height:100%;
}
.header{
    width:100%;
    margin:0 auto;
    background-color: black;
    overflow: hidden;
    display:flex;
    align-items:center;
    position:fixed;
    top:0;
}
.logo{
    width:35%;
    float: left;
}
.logo > img{
    width:100%;
    height: auto;
}
.menu {
    width:65%;
    float:right;
}
.menu > ul {
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    display:inline-block;
}
.menu a{
    text-decoration: none;
    color:white;
    font-size:1.2rem;
}
.slider{
    width:100%;
    background-image: url('../img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100%;
    background-attachment: fixed;
}

.title{
    width:70%;
    margin:0 auto;
    padding-top:200px;
}
.title > p {
    color:white;
    text-align:center;
    font-size:35px;
    padding-top:200px;
}

.subtitle{
    width:60%;
    margin:0 auto;

}
.subtitle > p {
    color:rgb(243, 237, 237);
    text-align:center;
    font-size:25px;
    padding:20px;
}
.main{
    width:100%;
    margin:0 auto;
    padding:40px 25px;
}
.main-title{
    width:100%;
    margin:0 auto;
    padding-bottom:25px;
}

.main-text{
    width:100%;
    margin:0 auto;

}
.main-text > p {
    line-height:25px;
}
.footer{
    width:100%;
    margin:0 auto;
    padding:30px 20px;
    overflow:hidden;
    background-color: black;
    display:flex;
    align-items: center;
}
.copyright{
    width:85%;
    float:left;
}
.copyright > p {
    font-size:0.8rem;
    color:white;
}
.social{
    width:15%;
    float: left;
    display:flex;
    align-items:center;
}
.social > p {
    margin-right: 10px;
    font-size:0.8rem;
    color:white;
}
.fab {
    font-size:30px;
    color:olive;
    margin-right:5px;
}